@import "variables";
.table-custom{
  width: $taleCustomWidth;
  border-collapse: $tableCustomCollapse;
  border-spacing: 0 6px;
  thead{
    background: $tableCustomTheadBg;
    color: $tableCustomTheadColor;
    tr{
      letter-spacing: 1px
    }
  }
  tbody{
    tr{
      color: $tableCustomTbodyColor;
      background-color: $tableCustomTbodyBg;
    }
  }
}
