$taleCustomWidth: 100% !default;
$tableCustomCollapse: separate !default;
$tableCustomTheadBg: #f5f6f9 !default;
$tableCustomTheadColor: #241d8c !default;
$tableCustomTbodyBg: #fff !default;
$tableCustomTbodyColor: #445167d9 !default;

